@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root{
    --font-family: 'Courgette', 'sans serif';
    --font-2: 'Patrick Hand', 'sans serif';
    --color-font: #e8f4f9;
    --primary: #917bab;
    --primary-dark: #61497c;
    --dark: #304d55;
    --background-light: #dfe4ea;
    --text-color:#2f3542;
    --text-color-light: #f1f2f6;
    --box-shadow: rgba(60, 64, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --border: 1px solid #eee ;
    --danger: #b54fa4;
}


*{
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: var(--font-family) ;
}

h1, p {
    margin: 0;
}
h1 {
    margin-bottom: 2.5rem;
}


ul {
    list-style-type: none;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}

/* utils */
.p-20{
    padding: 20px;
}
.p-10{
    padding: 10px;
}

/* boutons */

.btn{
    background-color: white;
    font-weight: 700;
    color: var(--text-color);
    font-size: 1.6rem;
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    margin: 0 .5rem;
    cursor: pointer;
    transition: all .5s;
    box-shadow: var(--box-shadow);
}
.btn-primary {
    background-color: var(--primary-dark) ;
    color: var(--text-color-light);
}

.btn-secondary{
    background-color: var(--dark);
    color: var(--text-color-light);
}

.btn-danger{
    background-color: var(--danger);
    color: var(--text-color-light);
}

.btn-small{
    padding: 5px 10px;
    font-size: 1.4rem;
}
/* .btn:hover {
    background-color: var(--dark);
} */

.text-danger{
    color: var(--danger);
    font-size: 1.2rem;
    font-weight: bold;
}

/* container */

.container{
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    color:var(--text-color);
    background-color: #d8e3e9;
    font-family: var(--font-2);
}

.low_opacity{
    opacity: .2;
}
/* Header */

header {
    background-color: var(--primary);
    padding: 1.5rem;
    box-shadow:  var(--box-shadow);
    color: var(--text-color-light);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    margin: 0;
}
.header-menu li {
    border-radius: 3px;
    padding: 5px 15px;
    transition: background-color .3s;
}
.header-menu li:hover {
    background-color: var(--primary-dark);
}

.active {
    background-color: var(--primary-dark);
    font-family: var(--font-family);
}
.logo{
    font-weight: 600;
    font-size: 2rem;
    color:var(--text-color-light);
    font-family: var(--font-family);
    
}

.content {
    margin-top: 3rem;
    max-width: 100rem;
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-self: center;
    /* background-color: var(--color-font); */
    padding: 2rem 0 ;
    align-items: center;
}

.block{
    border-radius: 3px;
    border: var(--border);
    background-color:rgb(169, 183, 192);
    box-shadow: var(--box-shadow);
}

/* footer */
footer {
    background-color: var(--dark);
    display: flex;
    flex-flow: row-reverse;
}
footer p{
    color: var(--text-color-light);
    padding: 1.5rem;
    font-family: var(--font-family);
}